#div1 {
    height: 300px;
    width: 550px;
    /* border: 1px solid black; */
    border-left: groove;
    float: right;
    margin-top: -330px;
    margin-right: 50px;
}

#div2 {
    height: 250px;
    width: 500px;
    /* border: 1px solid black; */
    float: right;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
}

#div2 input {
    margin-left: 10px;
    margin-top: 40px;
    border: none;
    border-bottom: 1px solid rgb(153, 133, 133);
    width: 90%;

}

#div4 {
    height: 30px;
    width: 170px;
    /* border: 1px solid black; */
    margin-left: 10px;
    margin-top: 20px;
    font-size: 12px;
}

#div4 i {
    color: blue;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 0px;
}

#div5 {
    height: 30px;
    width: 170px;
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-left: 120px;
    color: blue;
    font-size: 12px;

}

#div5 i {
    font-size: 20px;
    padding-right: 10px;
    padding-top: 0px;
}

#div6 {
    height: 30px;
    width: 90%;
    border: 1px solid black;
    margin: auto;
    margin-top: 30px;
    background-color: blue;
}

#div6 p {
    margin: auto;
    color: white;
}
/* #div7{
    height: 20px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    float: right;
    margin-top: 50px;
    margin-right:200px;

}
#div7 p{
    margin-top: -5px;
    padding-left: 10px;

} */